<div id="style">
    <h1>Style list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Css</th>
                <th>Csssaved</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('style_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.css }}</td>
                <td>{{ entity.cssSaved }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('style_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('style_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('style_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
</div>