<div id="page">
	<form class="add">
		<label for="nom" class="required">Nom de la page :</label>
		<input id="nom" name="nom" type="text" size="20" maxlength="40" required="required"/>
		<button type="submit">Ajouter</button>
	</form>
	<ul id="listPage">
		<li>
			<a class="nom" href="#">nom de la page</a>
			<a class="delete" href="#">delete</a>
		</li>
	</ul>
</div>