<div id="page">
    {% render 'EditorBundle:Page:new' %}
    {% for entity in entities %}
        <div id="listPage">
            <a class="nom" href="{{ path('page_show', { 'id': entity.id }) }}">{{ entity.nom }}</a>
            <a class="delete" href="{{ path('page_delete', { 'id': entity.id }) }}">delete</a>
        </div>
    {% endfor %}
</div>