<html>
    <head>
        <title>{% block title %}CreativeFolio{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{ asset('bundles/welcome/css/main.css') }}" type="text/css" media="all" />
        {% block stylesheets %}
        {% endblock %}
        <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/editor/lib/jquery-ui.js') }}"></script>
    </head>
    <body>
        <div id="page">
            <div id="header">
                <!--<a href="index.html"><img src="{{ asset('bundles/welcome/images/logo.png') }}" alt="CreativeFolio" width="128" height="128" /></a>-->
        		<ul id="menu">
        		    <li class="home"><a href="{{ path('welcome') }}"></a></li>
        		    <li class="about"><a href="{{ path('welcome') }}"></a></li>
                    <li class="create"><a href="{{ path('editor') }}"></a></li>
        		    <li class="contact"><a href="{{ path('welcome') }}"></a></li>
        		</ul>
            </div>
            <div id="head_shadow"></div>

            <div id="content">
                <h1>{{ block('title') }}</h1>
                <a href="{{ path('editor') }}">Editeur</a><br />
                {% block content %}
                {% endblock %}
                <div id="connexion">
                    {% include "UtilisateurBundle::connexion.html.twig" %}
                </div>
            </div>
            <div id="footer">
                <p>Tous droits réservés © 2012</p>
            </div>
        </div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>