/* line 1, ../sass/style.scss */

/* Initialisation */
html {
    color: #000;
    background: #fff;
}

legend {
    color: #000;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,ul,li,ol,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

abbr,acronym,address,caption,cite,code,dfn,em,strong,th,var,h1,h2,h3,h4,h5,h6 {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}

input,textarea,select,optgroup,option,button {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: #fff;
}

input,textarea,select,optgroup,option,button {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    *font-size: 100%;
}

body {
    line-height: 1;
}

ol,ul,li {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,th,td {
    text-align: left;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

html {
    height: 100%;
    overflow: auto;
}

/* Fin initialisation */


/* Font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://themes.googleusercontent.com/static/fonts/roboto/v7/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://themes.googleusercontent.com/static/fonts/roboto/v7/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(https://themes.googleusercontent.com/static/fonts/roboto/v7/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://themes.googleusercontent.com/static/fonts/roboto/v7/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://themes.googleusercontent.com/static/fonts/roboto/v7/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://themes.googleusercontent.com/static/fonts/roboto/v7/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v7/12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v7/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v7/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v7/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v7/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://themes.googleusercontent.com/static/fonts/roboto/v7/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}


body {
    background : #F1F1F1 ;
    font-family: 'Roboto', arial,sans-serif;
    font-size: 0.8em;
}

button{
    cursor:pointer;
}


[draggable] {
	user-select: none;
}

/* Règle */

ul#rule {
    bottom: -18px;
    height: 16px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAQCAAAAABxMHNQAAAAHklEQVR4nGPo+vGVRMAwqmVUCwgQyyJbC0kEfbQAAK3U6Qfo2UxTAAAAAElFTkSuQmCC) 0 0 repeat-x;
    border-top: 1px solid #929292;
    border-bottom: 1px solid #828282;
    overflow: hidden;
    white-space: nowrap;
}

ul#rule li {
    vertical-align: top;
    display: inline-block;
    width: 47px;
    padding: 1px 0 0 3px;
    font-size: 9px;
    line-height: 1em;
}

/* */

#loader{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    color: white;
    display: block;
    z-index: 999;
}

#svgBgSort{
    text-anchor:middle;
}

.pageOfCyberfolio {
	position: absolute;
	margin: auto;
	width: 960px;
	height: 100%;
	background-color: #ccc;
    background-image: url("../images/help-sortrable.svg");
    background-position:center center;
}
.pageOfCyberfolioForProject {
    position: absolute;
    margin: auto;
    width: 960px;
    height: 100%;
    background-color: #ccc;
    background-position:center center;
}

#bloc_structure {
	height: 50px;
	width: 50px;
	border-radius: 5px;
	float: left;
    background-image: url("../images/bloc_structure.jpg");
    cursor: move;
}

#bloc_structure_menu {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    float: left;
    background-image: url("../images/bloc_structure.jpg");
    cursor: move;
}



#trash{
    top: auto;
    bottom: 0px;
    margin:auto;
    position: absolute;
    width: 100%;
}

#global .ui-slider-horizontal {
    width: 75%;
    display: inline-block;
}

#global input {
    width: 20%;
}

#global .css-form{
        display: inline-block;
}

#global .css-form .borderColor{
    width: 65px;
}

#global label {
    margin-top: 15px;
}

#listPage{
    
}

.ui-slider{
    width: 100%;
}

label{
    font-size: 0.8em;
    width: 150px;
    display: block;
}

.right {
	display: block;
	float: right;
}

.left {
	display: block;
	float: left;
}

#bloc_structure:over {
	border: 2px dashed black;
}

#listPageStructure li{
    display: block;
    line-height: 2em;
    border-top: 1px solid #9E9E9E;
    border-bottom: 1px solid #9E9E9E;
    background: #E7E7E7;
    background: -moz-linear-gradient(top, #E7E7E7 0%, lightGrey 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #E7E7E7), color-stop(100%, lightGrey));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E7E7E7', endColorstr='#D3D3D3',GradientType=0 );
}
#listPageStructure li a{
    display: block;
    width: 100%;
    height:100%;
}

/*.ui-sortable-placeholder {
    width: 46px;
    height: 46px;
	background:#2F505F;
	border: 2px dashed #FFF;
    position: relative;
    float: left;
}*/

.ui-sortable-placeholder{
    float: left;
    background-color: #0694E9;
}

.ui-resizable-helper {
    border: 1px dashed #FFF;
}

.ui-accordion .ui-accordion-content {
    font-size: 0.8em; 
    font-weight: normal;
}

.ui-accordion .ui-accordion-content span{
    min-width: 75px;
    display: inline-block;
    margin-left:15px;
}
.ui-accordion .ui-accordion-content input{
    width: 60px;
}

.help-sortable{
    font-size: 20pt;
    color: #CCC;
    padding: 0 10px;
    text-align: center;
    font-family: arial,sans-serif;
}

.slider {
	width: 200px;
}

div.slider{
	margin: 10px 0 10px 0;
}

input#value{
	float: right;
}

input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #7BBDE6;
}

.dropped{
    /*box-shadow: inset 0 0 1px #000000;*/
	background-color: #FFF;
    z-index: 1;
}

.dropped:after {
    content:' ';
    display:block;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0; 
    border:1px dashed #ccc;
}

.dropped:hover{
    background-color: #ebebeb;
}




/* */




.ui-layout-resizer {
    background-color: #8c8c8c;
}

.ui-layout-resizer-north {
    border-top: solid 1px #989898;
    border-bottom: solid 1px #989898;
}

.ui-layout-toggler-north {
    left: 50% !important;
    margin-left: -5px;
    top: 4px !important;
}

.ui-layout-toggler-north,.ui-layout-toggler-north:after {
    height: 1px !important;
    overflow: visible !important;
    width: 11px !important;
    background: #222;
    border-bottom: 1px solid #999;
    cursor: ns-resize !important;
}

.ui-layout-toggler-north:after {
    display: block;
    content: "\00a0";
    margin-top: 3px;
}

.ui-layout-resizer-dragging {
    opacity: .5 !important;
}

.ui-layout-west{
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.8), inset 0 0 7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.8), inset 0 0 7px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.8), inset 0 0 7px rgba(0, 0, 0, 0.4);
    background: #DADADA !important;
}



/* */



#nav {
    border-bottom: solid 1px #707070;
    background: #FFF;
    background: -moz-linear-gradient(top, white 0%, #e5e6e9 8%, #c8c9ce 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(8%, #e5e6e9), color-stop(100%, #c8c9ce));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#c8c9ce',GradientType=0 );
    min-height: 60px;
    min-width: 650px;
}

#nav .form-button {
    margin-top: 15px;
    float: left;
    margin-right: 10px;
}

.form-button-blue, .form-button-blue:visited {
    position: relative;
    text-shadow: 0px -1px 1px #0942A2, 0px 1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8, inset 0 0 3px 0 #0942a2;
    -webkit-box-shadow: inset 0 0 0 1px #1450B9, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #C8C8C8, inset 0 0 3px 0 #0942A2;
    box-shadow: inset 0 0 0 1px #1450B9, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #C8C8C8, inset 0 0 3px 0 #0942A2;
    color: white;
    background: #0694E9;
    background: -moz-linear-gradient(top, #0596EA 0%, #1758CF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0596EA), color-stop(100%, #1758CF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0596ea', endColorstr='#1758cf',GradientType=0 );
}


#editor-links li {
    float: left;
    border-right: solid 1px #7c7c7c;
}

#editor-links li a, #editor-links li {
    width: 65px;
    height: 60px;
}

#editor-links li a {
    height: 50px;
    display: block;
    color: #121212;
    text-align: center;
    font-size: 9px;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    text-decoration: none !important;
    padding-top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#editor-links li .nav-icon {
    display: block;
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    margin: 0
auto 4px;
}

#editor-links .nav-icon-templates {
    width: 29px;
    height: 24px;
    background-position: 0 0;
}

#editor-links .selected .nav-icon-templates {
    background-position: 0 -24px;
}

#editor-links .nav-icon-projects {
    width: 24px;
    height: 25px;
    background-position: -29px 0;
}

#editor-links .selected .nav-icon-projects {
    background-position: -29px -25px;
}

#editor-links .nav-icon-design {
    width: 27px;
    height: 25px;
    background-position: -53px 0;
    position: relative;
    left: 2px;
}

#editor-links .selected .nav-icon-design {
    background-position: -53px -25px;
}

#editor-links .nav-icon-pages {
    width: 31px;
    height: 24px;
    background-position: -80px 0;
}

#editor-links .selected .nav-icon-pages {
    background-position: -80px -24px;
}

#editor-links .nav-icon-settings {
    width: 23px;
    height: 23px;
    background-position: -111px 0;
    margin-bottom: 5px !important;
}

#editor-links .selected .nav-icon-settings {
    background-position: -111px -26px;
}

#editor-links .nav-icon-publish {
    width: 21px;
    height: 25px;
    background-position: -134px 0;
}

#editor-links .selected .nav-icon-publish {
    background-position: -134px -25px;
}

#editor-links li:hover {
    background: #FFF;
    background: -moz-linear-gradient(top, white 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f3f3f3));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F3F3F3',GradientType=0 );
}

#editor-links .editor-link-loading {
    -moz-box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 2px 7px rgba(0, 0, 0, 0.6);
    background: #F7F7F7;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #eee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #eeeeee));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#EEEEEE',GradientType=0 );
}

#editor-links li.selected,
#editor-links li.selected:hover {
    -webkit-box-shadow: inset 0 2px 7px #000;
    -moz-box-shadow: inset 0 2px 7px #000;
    box-shadow: inset 0 2px 7px #000;
    background-color: #1460d3;
    background: -moz-linear-gradient(top, #1e5799 0%, #2e90ea 0%, #2a50d2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(0%, #2e90ea), color-stop(100%, #2a50d2));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1E5799', endColorstr='#2A50D2',GradientType=0 );
}

#editor-links li.selected a,
#editor-links li.selected:hover
a {
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8);
}

.clickable {
    cursor: pointer;
}


/* */


button::-moz-focus-inner,input::-moz-focus-inner,button:focus::-moz-focus-inner,input:focus::-moz-focus-inner,input:active::-moz-focus-inner,input:active::-moz-focus-inner {
    border: none!important;
    outline: none !important;
    outline-style: none !important;
    -moz-outline: none !important;
}

.non-form-button,.form-button,.form-button:visited,.form-button:hover {
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    width: 100px;
    display: block;
    text-transform: capitalize;
    font-size: 13px;
    font-family: Helvetica,Arial,sans-serif;
    border: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    outline: 0;
    cursor: pointer !important;
    color: #FFF;
}

.form-button-large,.form-button-large:visited,.form-button-large:hover {
    width: 125px;
    height: 38px;
    line-height: 40px;
    font-size: 16px;
    font-weight: normal;
}

.form-button-medium,.form-button-medium:visited,.form-button-medium:hover {
    width: 80px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    text-transform: none;
}

.form-button-small,.form-button-small:visited,.form-button-small:hover {
    font-weight: bold;
    text-transform: none;
    font-size: 11px;
    letter-spacing: -0.02px;
    height: 24px;
    line-height: 24px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form-button-white.form-button-small {
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-button-tiny,.form-button-tiny:visited,.form-button-tiny:hover {
    font-weight: bold;
    text-transform: none;
    font-size: 10px;
    letter-spacing: -0.02px;
    height: 20px;
    line-height: 21px;
    width: 50px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form-button-blue,.form-button-blue:visited {
    position: relative;
    text-shadow: 0px -1px 1px #0942a2, 0px 1px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8, inset 0 0 3px 0 #0942a2;
    -webkit-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8, inset 0 0 3px 0 #0942a2;
    box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8, inset 0 0 3px 0 #0942a2;
    color: #fff;
    background: #0694E9;
    background: -moz-linear-gradient(top, #0596ea 0%, #1758cf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0596ea), color-stop(100%, #1758cf));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0596ea', endColorstr='#1758cf',GradientType=0 );
}

.form-button-blue:hover {
    -webkit-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 0 #c8c8c8, inset 0 0 3px 0 #0942a2;
    -moz-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 0 #c8c8c8, inset 0 0 3px 0 #0942a2;
    box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 0 #c8c8c8, inset 0 0 3px 0 #0942a2;
    background: #00A3F9;
    background: -moz-linear-gradient(top, #00a8ff 0%, #006cf1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a8ff), color-stop(100%, #006cf1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a8ff', endColorstr='#006cf1',GradientType=0 );
    color: #FFF;
}

.form-button-blue:active,.form-button-blue:active:hover {
    -webkit-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 0 #c8c8c8, inset 0 0 8px 0 black;
    -moz-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 0 #c8c8c8, inset 0 0 8px 0 black;
    box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 0 #c8c8c8, inset 0 0 8px 0 black;
}

.form-button-blue.form-button-dark-inset,.form-button-blue.form-button-dark-inset:visited {
    -moz-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 -1px 0 0 black, inset 0 0 3px 0 #0942a2;
    -webkit-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 -1px 0 0 black, inset 0 0 3px 0 #0942a2;
    box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0 0 rgba(255, 255, 255, 0.2), 0 -1px 0 0 black, inset 0 0 3px 0 #0942a2;
}

.form-button-blue.form-button-dark-inset:hover {
    -webkit-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.25), 0 -1px 0 0 #333333, inset 0 0 3px 0 #0942a2;
    -moz-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.25), 0 -1px 0 0 #333333, inset 0 0 3px 0 #0942a2;
    box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.25), 0 -1px 0 0 #333333, inset 0 0 3px 0 #0942a2;
}

.form-button-blue.form-button-dark-inset:active,.form-button-blue.form-button-dark-inset:active:hover {
    -webkit-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.25), 0 -1px 0 0 #333333, inset 0 0 8px 0 black;
    -moz-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.25), 0 -1px 0 0 #333333, inset 0 0 8px 0 black;
    box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.25), 0 -1px 0 0 #333333, inset 0 0 8px 0 black;
}

.form-button-blue.form-button-medium-inset,.form-button-blue.form-button-medium-inset:visited {
    -moz-box-shadow: inset 0 0 0 1px #2a4e91, 0 1px 0 0 rgba(113, 113, 113, 0.2), 0 -1px 0 0 #484848;
    -webkit-box-shadow: inset 0 0 0 1px #2a4e91, 0 1px 0 0 rgba(113, 113, 113, 0.2), 0 -1px 0 0 #484848;
    box-shadow: inset 0 0 0 1px #2a4e91, 0 1px 0 0 rgba(113, 113, 113, 0.2), 0 -1px 0 0 #484848;
}

.form-button-blue.form-button-medium-inset:hover {
    -webkit-box-shadow: inset 0 0 0 1px #2a4e91, 0 1px 0px 0 rgba(113, 113, 113, 0.25), 0 -1px 0 0 #484848, inset 0 0 3px 0 #0942a2;
    -moz-box-shadow: inset 0 0 0 1px #2a4e91, 0 1px 0px 0 rgba(113, 113, 113, 0.25), 0 -1px 0 0 #484848, inset 0 0 3px 0 #0942a2;
    box-shadow: inset 0 0 0 1px #2a4e91, 0 1px 0px 0 rgba(113, 113, 113, 0.25), 0 -1px 0 0 #484848, inset 0 0 3px 0 #0942a2;
}

.form-button-blue.form-button-medium-inset:active,.form-button-blue.form-button-medium-inset:active:hover {
    -webkit-box-shadow: inset 0 0 0 1px #2a4e91, 0 1px 0px 0 rgba(113, 113, 113, 0.25), 0 -1px 0 0 #484848, inset 0 0 3px 0 black;
    -moz-box-shadow: inset 0 0 0 1px #2a4e91, 0 1px 0px 0 rgba(113, 113, 113, 0.25), 0 -1px 0 0 #484848, inset 0 0 3px 0 black;
    box-shadow: inset 0 0 0 1px #2a4e91, 0 1px 0px 0 rgba(113, 113, 113, 0.25), 0 -1px 0 0 #484848, inset 0 0 3px 0 black;
}

.form-button-shiny-blue,.form-button-shiny-blue:visited,.form-button-confirm,.form-button-confirm:visited,.form-button-save,.form-button-save:visited,.form-button-shiny-blue:hover,.form-button-confirm:hover {
    -webkit-box-shadow: inset 0 1px 0 #73bdf2;
    -moz-box-shadow: inset 0 1px 0 #73bdf2;
    box-shadow: inset 0 1px 0 #73bdf2;
    color: #fff;
    background: #0595e9;
    background: -moz-linear-gradient(top, #0595e9 0%, #0989e4 50%, #0d78dd 50%, #1268d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0595e9), color-stop(50%, #0989e4), color-stop(50%, #0d78dd), color-stop(100%, #1268d6));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0595e9', endColorstr='#1268d6',GradientType=0 );
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
}

.form-button-shiny-blue:hover,.form-button-save:hover,.form-button-confirm:hover {
    background: #04bffd;
    background: -moz-linear-gradient(top, #1aa3ed 0%, #1a99e9 50%, #1a8ae2 50%, #1a7ddc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1aa3ed), color-stop(50%, #1a99e9), color-stop(50%, #1a8ae2), color-stop(100%, #1a7ddc));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02a1ff', endColorstr='#1268d6',GradientType=0 );
}

.form-button-green-inset {
    -moz-box-shadow: 0 0 0 1px #006c0d inset, 0 1px 0 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8, 0 0 3px 0 #09a226 inset;
    -webkit-box-shadow: 0 0 0 1px #006c0d inset, 0 1px 0 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8, 0 0 3px 0 #09a226 inset;
    box-shadow: 0 0 0 1px #006c0d inset, 0 1px 0 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8, 0 0 3px 0 #09a226 inset;
    width: 125px;
    text-shadow: 0 -1px 1px #0c7103, 0 1px 1px rgba(255, 255, 255, 0.3);
    background: #7bdf56;
    background: -moz-linear-gradient(top, #7bdf56 0%, #1f7a11 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bdf56), color-stop(100%, #1f7a11));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bdf56', endColorstr='#1f7a11',GradientType=0 );
}

.form-button-green-inset:hover {
    -webkit-box-shadow: inset 0 0 0 1px #006c0d, 0 1px 0px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 0 #c8c8c8, inset 0 0 3px 0 #09a226;
    -moz-box-shadow: inset 0 0 0 1px #006c0d, 0 1px 0px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 0 #c8c8c8, inset 0 0 3px 0 #09a226;
    box-shadow: inset 0 0 0 1px #006c0d, 0 1px 0px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 0 #c8c8c8, inset 0 0 3px 0 #09a226;
    width: 125px;
    background: #acea6b;
    background: -moz-linear-gradient(top, #acea6b 0%, #2d8c29 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acea6b), color-stop(100%, #2d8c29));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acea6b', endColorstr='#2d8c29',GradientType=0 );
}

.form-button-green-inset:active {
    -webkit-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 0 #c8c8c8, inset 0 0 8px 0 black;
    -moz-box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 0 #c8c8c8, inset 0 0 8px 0 black;
    box-shadow: inset 0 0 0 1px #1450b9, 0 1px 0px 0 rgba(255, 255, 255, 0.8), 0 -1px 0 0 #c8c8c8, inset 0 0 8px 0 black;
}

.form-button-white,.form-button-white:visited {
    text-shadow: 0px -1px 1px #ededed, 0px 1px 1px white;
    -webkit-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8;
    -moz-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8;
    box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8;
    color: #333;
    background: #F7F7F7;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #e4e4e4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e4e4e4));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#e4e4e4',GradientType=0 );
}

.form-button-whiter,.form-button-whiter:visited {
    background: #EEE;
    background: -moz-linear-gradient(top, #eee 0%, #c9c9c9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #c9c9c9));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#C9C9C9',GradientType=0 );
}

.section-header-grey-dark .form-button-white,
.section-header-grey-dark .form-button-white:visited {
    color: #333;
    -webkit-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 0 #6f6f6f;
    -moz-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 0 #6f6f6f;
    box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 0 #6f6f6f;
}

.form-button-white.form-button-dark-inset,.form-button-white.form-button-dark-inset:hover {
    color: #333;
    -webkit-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 0 black;
    -moz-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 0 black;
    box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 0 black;
}

.form-button-white.form-button-dark-inset {
    color: #333;
    -webkit-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.35), 0 -1px 0 0 black;
    -moz-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.35), 0 -1px 0 0 black;
    box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.35), 0 -1px 0 0 black;
}

.form-button-white.form-button-medium-inset,.form-button-white.form-button-medium-inset:visited {
    color: #333;
    -webkit-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(113, 113, 113, 0.35), 0 -1px 0 0 #484848;
    -moz-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(113, 113, 113, 0.35), 0 -1px 0 0 #484848;
    box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(113, 113, 113, 0.35), 0 -1px 0 0 #484848;
}

.form-button-white.form-button-medium-inset:hover {
    color: #333;
    -webkit-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(113, 113, 113, 0.3), 0 -1px 0 0 #484848;
    -moz-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(113, 113, 113, 0.3), 0 -1px 0 0 #484848;
    box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(113, 113, 113, 0.3), 0 -1px 0 0 #484848;
}

.form-button-white:hover {
    background: #FFF;
    background: -moz-linear-gradient(top, white 0%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f6f6f6));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F6F6F6',GradientType=0 );
    color: #333;
}

.form-button-white:active,.form-button-white:hover:active {
    -moz-box-shadow: inset 0 0 9px 0 rgba(0, 0, 0, 0.95), 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8, inset 0 0 0 1px white;
    -webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.95), 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8, inset 0 0 0 1px white;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.95), 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8, inset 0 0 0 1px white;
}

.form-button-white.form-button-dark-inset:active,.form-button-white.form-button-dark-inset:active:hover {
    color: #333;
    -webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.95), 0 1px 0px 0 rgba(255, 255, 255, 0.35), 0 -1px 0 0 #333;
    -moz-box-shadow: inset 0 0 9px 0 rgba(0, 0, 0, 0.95), 0 1px 0px 0 rgba(255, 255, 255, 0.35), 0 -1px 0 0 #333;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.95), 0 1px 0px 0 rgba(255, 255, 255, 0.35), 0 -1px 0 0 #333;
}

.form-button-white.form-button-medium-inset:active,.form-button-white.form-button-medium-inset:active:hover {
    color: #333;
    -webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.95), 0 1px 0px 0 rgba(113, 113, 113, 0.35), 0 -1px 0 0 #484848;
    -moz-box-shadow: inset 0 0 9px 0 rgba(0, 0, 0, 0.95), 0 1px 0px 0 rgba(113, 113, 113, 0.35), 0 -1px 0 0 #484848;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.95), 0 1px 0px 0 rgba(113, 113, 113, 0.35), 0 -1px 0 0 #484848;
}

.section-header-grey-dark .form-button-white:active,
.section-header-grey-dark .form-button-white:hover:active {
    color: #333;
    -webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.95), 0 1px 0px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 0 #6f6f6f, inset 0 0 0 1px white;
    -moz-box-shadow: inset 0 0 9px 0 rgba(0, 0, 0, 0.95), 0 1px 0px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 0 #6f6f6f, inset 0 0 0 1px white;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.95), 0 1px 0px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 0 #6f6f6f, inset 0 0 0 1px white;
}

.form-button-white.form-button-mild-white {
    -webkit-box-shadow: inset 0 0 0 1px #ababab, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #d9d9d9;
    -moz-box-shadow: inset 0 0 0 1px #ababab, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #d9d9d9;
    box-shadow: inset 0 0 0 1px #ababab, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #d9d9d9;
}

.form-button-green,.form-button-green:visited {
    text-shadow: 0 -1px 1px #1b8000, 0 1px 1px #1b8000;
    -webkit-box-shadow: 0 0 0 1px #1b8000 inset, 3px 3px 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 0 1px #1b8000 inset, 3px 3px 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 1px #1b8000 inset, 3px 3px 4px 0 rgba(0, 0, 0, 0.4);
    color: #fff;
    position: relative;
    background: #7bdf56;
    background: -moz-linear-gradient(top, #7bdf56 0%, #1f7a11 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bdf56), color-stop(100%, #1f7a11));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bdf56', endColorstr='#1f7a11',GradientType=0 );
}

.form-button-green:hover {
    color: #FFF;
    background: #acea6b;
    background: -moz-linear-gradient(top, #acea6b 0%, #2d8c29 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #acea6b), color-stop(100%, #2d8c29));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acea6b', endColorstr='#2d8c29',GradientType=0 );
}

.form-button-green:active,.form-button-green:active:hover {
    color: #FFF;
    -webkit-box-shadow: 0 0 0 1px #1b8000 inset, inset 0 0 5px 0 #104e00, 3px 3px 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 0 1px #1b8000 inset, inset 0 0 5px 0 #104e00, 3px 3px 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 1px #1b8000 inset, inset 0 0 5px 0 #104e00, 3px 3px 4px 0 rgba(0,0,0,0.4);
}

.form-button-shiny-white,.form-button-shiny-white:visited {
    text-shadow: 0px -1px 1px #ededed, 0px 1px 1px white;
    -webkit-box-shadow: inset 0 0 0 1px #b3b3b3, 2px 3px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 0 1px #b3b3b3, 2px 3px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px #b3b3b3, 2px 3px 3px rgba(0, 0, 0, 0.4);
    color: #333;
    background: #FFF;
    background: -moz-linear-gradient(top, white 0%, white 50%, #f6f6f6 51%, #f6f6f6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(50%, white), color-stop(51%, #f6f6f6), color-stop(100%, #f6f6f6));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F6F6F6',GradientType=0 );
}

.form-button-shiny-white:hover {
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 0 1px #2d4ccd, 2px 3px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 0 1px #2d4ccd, 2px 3px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px #2d4ccd, 2px 3px 3px rgba(0, 0, 0, 0.4);
    color: #fff;
    background: #4768FF;
    background: -moz-linear-gradient(top, #4768ff 0%, #4768ff 50%, #3c5afb 51%, #3c5afb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4768ff), color-stop(50%, #4768ff), color-stop(51%, #3c5afb), color-stop(100%, #3c5afb));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4768FF', endColorstr='#3C5AFB',GradientType=0 );
}

.form-button-shiny-white:active,.form-button-shiny-white:active:hover {
    -webkit-box-shadow: inset 0 0 0 1px #2d4cdc, 2px 3px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 0 0 1px #2d4cdc, 2px 3px 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 0 1px #2d4cdc, 2px 3px 3px rgba(0, 0, 0, 0.4);
    color: #fff;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.8);
    background: #293fcf;
}

.form-button-shiny-grey,.form-button-shiny-grey:visited,.form-button-cancel,.form-button-cancel:visited,.form-button-close,.form-button-close:visited,.form-button-shiny-grey:hover,.form-button-cancel:hover,.form-button-close:hover {
    color: #fff;
    -webkit-box-shadow: inset 0 1px 0 #B9B8B8;
    -moz-box-shadow: inset 0 1px 0 #B9B8B8;
    box-shadow: inset 0 1px 0 #B9B8B8;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    background: #888;
    background: -moz-linear-gradient(top, #888 0%, #7a7a7a 47%, #707070 50%, #6c6c6c 53%, #606060 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #888888), color-stop(47%, #7a7a7a), color-stop(50%, #707070), color-stop(53%, #6c6c6c), color-stop(100%, #606060));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#606060',GradientType=0 );
}

.form-button-shiny-grey:hover,.form-button-cancel:hover,.form-button-close:hover {
    background: #9e9e9e;
    background: -moz-linear-gradient(top, #9e9e9e 0%, #888 50%, #7e7e7e 50%, #606060 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9e9e9e), color-stop(50%, #888888), color-stop(50%, #7e7e7e), color-stop(100%, #606060));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#606060',GradientType=0 );
}

.form-button-shiny-grey:active,.form-button-shiny-grey:active:hover,.form-button-cancel:active,.form-button-cancel:active:hover,.form-button-close:active,.form-button-close:active:hover,.form-button-shiny-grey:active,.form-button-shiny-grey:active:hover,.form-button-cancel:active,.form-button-cancel:active:hover,.form-button-close:active,.form-button-close:active:hover,.form-button-shiny-blue:active,.form-button-shiny-blue:active:hover,.form-button-confirm:active,.form-button-confirm:active:hover,.form-button-save:active,.form-button-save:active:hover,.form-button-shiny-blue:active,.form-button-shiny-blue:active:hover,.form-button-confirm:active,.form-button-confirm:active:hover {
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}

.form-button-disabled,.form-button-disabled:active,.form-button-disabled:hover,.form-button-disabled:active:hover {
    cursor: default !important;
    text-shadow: 0px -1px 1px #777777, 0px 1px 1px #aaa;
    -webkit-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8;
    -moz-box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8;
    box-shadow: inset 0 0 0 1px #929292, 0 1px 0px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 0 #c8c8c8;
    color: rgba(255, 255, 255, 0.6);
    background: #A8A8A8;
    background: -moz-linear-gradient(top, #a8a8a8 0%, #7f7f7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8a8a8), color-stop(100%, #7f7f7f));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A8A8A8', endColorstr='#7F7F7F',GradientType=0 );
}

.form-button-shiny-blue.form-button-disabled,.form-button-shiny-blue.form-button-disabled:active,.form-button-shiny-blue.form-button-disabled:hover,.form-button-shiny-blue.form-button-disabled:active:hover,.form-button-shiny-grey.form-button-disabled,.form-button-shiny-grey.form-button-disabled:active,.form-button-shiny-grey.form-button-disabled:hover,.form-button-shiny-grey.form-button-disabled:active:hover,.form-button-shiny-blue.form-button-working,.form-button-shiny-blue.form-button-working:active,.form-button-shiny-blue.form-button-working:hover,.form-button-shiny-blue.form-button-working:active:hover,.form-button-shiny-grey.form-button-working,.form-button-shiny-grey.form-button-working:active,.form-button-shiny-grey.form-button-working:hover,.form-button-shiny-grey.form-button-working:active:hover {
    cursor: default;
    text-shadow: 0px -1px 1px #777777, 0px 1px 1px #aaa;
    -webkit-box-shadow: 0 1px 0 0 #141313, inset 0 1px 0 0 #cbcbcb;
    -moz-box-shadow: 0 1px 0 0 #141313, inset 0 1px 0 0 #cbcbcb;
    box-shadow: 0 1px 0 0 #141313, inset 0 1px 0 0 #cbcbcb;
    color: #fff;
    background: #A8A8A8;
    background: -moz-linear-gradient(top, #a8a8a8 0%, #7f7f7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8a8a8), color-stop(100%, #7f7f7f));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A8A8A8', endColorstr='#7F7F7F',GradientType=0 );
}

.form-button-plus {
    position: absolute;
    right: 11px;
}

.form-button-plus:before {
    display: block;
    content: "";
    position: absolute;
    top: 7px;
    left: 10px;
    width: 2px;
    height: 8px;
    background: #333;
}

.form-button-plus:after {
    display: block;
    content: "";
    position: absolute;
    top: 10px;
    left: 7px;
    width: 8px;
    height: 2px;
    background: #333;
}

.form-button-publish {
    padding-left: 18px;
    position: relative;
}

.form-button-publish:before {
    display: block;
    content: "";
    position: absolute;
    top: 7px;
    left: 10px;
    width: 13px;
    height: 15px;
    background: url("http://media.prosite.com/img/site/sprite.png?cb=1813129865");
    background-position: -203px -100px;
}

.form-button-publish.form-button-disabled:before {
    opacity: .6;
}

.form-button-blue-text.form-button-plus:before,.form-button-blue-text.form-button-plus:after {
    background: #226BEC;
}

.form-button-white-text.form-button-plus:before,.form-button-white-text.form-button-plus:after {
    background: #FFF;
}

.form-button-right-white-arrow {
    padding-right: 13px;
}

.form-button-right-white-arrow:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 11px;
    right: 6px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.form-button-left-white-arrow {
    padding-left: 13px;
}

.form-button-left-white-arrow:after {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 11px;
    left: 6px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}

.form-button-blue-text {
    color: #226BEC !important;
    text-shadow: none !important;
}