{% extends "EditorBundle::layout.html.twig" %}

{% block title %}{% endblock %}


{% block content %}
<ul id="rule" style="background-position: 0px 0px;"><li style="margin-left: 0px;">0</li><li>50</li><li>100</li><li>150</li><li>200</li><li>250</li><li>300</li><li>350</li><li>400</li><li>450</li><li>500</li><li>550</li><li>600</li><li>650</li><li>700</li><li>750</li><li>800</li><li>850</li><li>900</li><li>950</li><li>1000</li><li>1050</li><li>1100</li><li>1150</li><li>1200</li><li>1250</li><li>1300</li><li>1350</li></ul>
	<div id="allPageOfCyberfolio">
    	<div id="0000000000001" class="pageOfCyberfolio" data-name="home"></div>
	</div>
	<div id="allPageOfCyberfolioForProject">
		<div id="0000000000001" class='pageOfCyberfolioForProject' data-name="home"></div>
	</div>
{% endblock %}