{% extends "WelcomeBundle::layout.html.twig" %}

{% block javascripts %}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}

<h1>Creation du Cyberfolio</h1>

<form action="{{ path('cyberfolio_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<!--<ul class="record_actions">
    <li>
        <a href="{{ path('cyberfolio') }}">
            Back to the list
        </a>
    </li>
</ul>-->


{% endblock %}