<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}CreativeFolio{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('bundles/editor/lib/jquery-ui/jquery-ui.css') }}" type="text/css" media="screen" />
			<!--<link rel="stylesheet" href="{{ asset('bundles/editor/lib/jquery-ui/jquery-ui.theme.css') }}" type="text/css" media="all" />-->
			<link rel="stylesheet" href="{{ asset('bundles/editor/css/style.css') }}" type="text/css" media="screen" />
			<link rel="stylesheet" href="{{ asset('bundles/editor/css/hugrid.css') }}" type="text/css" media="screen" />
			<link rel="stylesheet" href="{{ asset('bundles/editor/css/layout-default-latest.css') }}" type="text/css" media="screen" />
			<link rel="stylesheet" href="{{ asset('bundles/editor/lib/fancybox/jquery.fancybox.css') }}" type="text/css" media="screen" />
			<link rel="stylesheet" href="{{ asset('bundles/editor/css/960.gridder.css') }}" type="text/css" media="screen" />
			<link rel="stylesheet" href="{{ asset('bundles/editor/css/colorpicker.css') }}" type="text/css" media="screen" />

			<!--<link rel="stylesheet" href="{{ asset('bundles/editor/css/droppable_layout.css') }}" type="text/css" media="all" />
			<link rel="stylesheet" href="{{ asset('bundles/editor/css/droppable_widget.js.css') }}" type="text/css" media="all" />-->
		{% endblock %}

		{% block javascripts %}
		{% endblock %}

		{% javascripts output="/js/instant.js"
			'@EditorBundle/Resources/public/lib/jquery-1.9.0.js'
			'@EditorBundle/Resources/public/lib/jquery-ui.js'
			'@EditorBundle/Resources/public/lib/jquery.layout-latest.js'
			'@EditorBundle/Resources/public/lib/jquery.mjs.nestedSortable.js'
			'@EditorBundle/Resources/public/lib/fancybox/jquery.fancybox.pack.js'
			'@EditorBundle/Resources/public/lib/jquery.cssform.js'
			'@EditorBundle/Resources/public/lib/jquery.copycss.js'
			'@EditorBundle/Resources/public/lib/hugrid.js'
			'@EditorBundle/Resources/public/lib/960.gridder.js'
			'@EditorBundle/Resources/public/lib/underscore.js'
			'@EditorBundle/Resources/public/lib/backbone.js'
			'@EditorBundle/Resources/public/js/app.js'
			'@EditorBundle/Resources/public/lib/colorpicker.js'
		%}
		    <script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

	</head>
	<body>
		<p id="loader">Chargement en cours… <p>
		<div class="ui-layout-north">
			<div id="nav">
				<ul id="editor-links">
					<li><a class="load_to_left structure" href="{{ path('editor_structure') }}"><span class="nav-icon nav-icon-templates"></span>Structure</a></li>
					<li><a class="load_to_left projets" href="{{ path('editor_projet') }}"><span class="nav-icon nav-icon-projects"></span>Projets</a></li>
					<li><a class="load_to_left style" href="{{ path('editor_style') }}"><span class="nav-icon nav-icon-design"></span>Design</a></li>
					<li><a class="load_to_left pages" href="{{ path('editor_page') }}"><span class="nav-icon nav-icon-pages"></span>Menu/pages</a></li>
					<li><a class="load_to_left reglages" href="{{ path('editor_reglage') }}"><span class="nav-icon nav-icon-settings"></span>Réglages</a></li>
				</ul>

				<div class="right " id="editor-controls">
					<input id="save-site-btn" type="button" class="bold pointer form-button form-button-blue site-control-button" value="Sauvegarder" style="display: inline-block;">
					<span id="preview-site-btn" class="bold pointer form-button form-button-white site-control-button" style="display: inline;">Aperçu</span>
					<span id="account-back-to-edit" class="form-button" style="display: none;">Retour a l'editeur</span>
					<span id="publier" href="{{ path('editor_generateCyberfolio') }}" class="bold pointer form-button form-button-white site-control-button" style="display: inline;">Publier</span>
				</div>

				<div id="connexion">
					{% include "UtilisateurBundle::connexion.html.twig" %}
				</div>
				<div id="linkOfCyberfolio">
					{% render 'EditorBundle:Default:lienCyberfolio' %}
				</div>
			</div>
		</div>

		<div class="ui-layout-west">
				{% block gauche %}
					{% include 'EditorBundle:Structure:index.html.twig' %}
					{% include 'EditorBundle:Projet:index.html.twig' %}
					{% include 'EditorBundle:Style:indexEditor.html.twig' %}
					<!--{% render 'EditorBundle:Style:index' %}-->
					<!--{% render 'EditorBundle:Page:index' %}-->
					{% include 'EditorBundle:Page:indexEditor.html.twig' %}
					{% include 'EditorBundle:Reglage:index.html.twig' %}
				{% endblock %}
		</div>

		<div class="ui-layout-center">
				{% block content %}
					<h1>{{ block('title') }}</h1>
				{% endblock %}
		</div>
	</body>
</html>