{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}


{% block javascripts %}
	<script src="{{ asset('bundles/welcome/js/select2-release-3.2/select2.min.js') }}"></script>
    {{ form_javascript(form) }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/welcome/css/select2-release-3.2/select2.css') }}" rel="stylesheet" />
    {{ form_stylesheet(form) }}
{% endblock %}