<h1>Upload list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Dateajout</th>
            <th>Path</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('upload_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nom }}</td>
            <td>{{ entity.description }}</td>
            <td>{% if entity.dateajout %}{{ entity.dateajout|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.path }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('upload_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('upload_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('upload_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
