<!--<div id="structure">
	<div id="accordion">
		<h3>Grille modulaire</h3>
		<div id="g-setup">
			<ul>
				<li class="head">Verticale</li>
				<li><span>Couleur</span><input id="g-setup-gColor" /></li>
				<li><span>Opacité</span><input id="g-setup-gOpacity" type="number"/></li>
				<li><span>Largeur</span><input id="g-setup-gWidth" type="number"/></li>
				<li><span>Colonnes</span>
				<select id="g-setup-gColumns">
				</select>
				</li>
			</ul>
			<ul>
				<li class="head">Horizontal</li>
				<li><span>Couleur</span><input id="g-setup-pColor" /></li>
				<li><span>Opacité</span><input id="g-setup-pOpacity" type="number"/></li>
				<li><span>Hauteur</span><input id="g-setup-pHeight" type="number"/></li>
				<li><span>Offset</span><input id="g-setup-pOffset" type="number"/></li>
			</ul>
			<ul id="g-setup-misc">
				<li><span>Activer verticales (gouttières)</span><input id="g-setup-gEnabled" type="checkbox" /></li>
				<li><span>Activer horizontales (paragraphes)</span><input id="g-setup-pEnabled" type="checkbox" /></li>
				<li><span>Inverser verticale</span><input id="g-setup-invert" type="checkbox" /></li>
				<li><span>Centrer la grille</span><input id="g-setup-center" type="checkbox" /></li>
			</ul>
		</div>
	</div>


	<br /><input id="snap_grid" type="checkbox" name="snap_grid" value="Milk"> Magnétisme de la grille<br />

	<input id="config-grid-btn" class="form-button form-button-dark-inset form-button-small form-button-white form-button-whiter form-button-blue-text pointer fake-link right" type="button" value="Configurer la grille"><br />

	<div id='blocs_structure'>
		<div id='bloc_structure' class='sortable'>bloc</div>
	</div>

	<br style="clear: both;" />

	<div id="trash">
		<img src="{{ asset('bundles/editor/images/poubelle.jpg') }}" alt="CreativeFolio" width="128" height="128" />
	</div>
</div>-->