<p>
  <label>Largeur de la page : 
    <input type="number" name="pagewidth" id="pagewidth" placeholder="Largeur"/>
  </label>
  <select name="pageUnits" id="pageUnits">
    <option value="px">pixel</option>
    <option value="%">%</option>
  </select>
  <br />
  <label>Nombre de colonnes : 
  	<input type="number" name="columns" id="columns" placeholder="Nombre de colonnes"/>
  </label>
    <br />
  <label>Largeur des colonnes : 
    <input type="number" name="columnwidth" id="columnwidth" placeholder="Largeur"/>

  <select name="colUnits" id="colUnits">
    <option value="px">pixel</option>
    <option value="%">%</option>
  </select>
  </label>
  <br />
  <label>Largeur des goutiers : 
    <input type="number" name="gutterwidth" id="gutterwidth" placeholder="Largeur"/>
  </label>
  <br />
  <label>Marge en haut de page : 
    <input type="number" name="pagetopmargin" id="pagetopmargin" placeholder="Hauteur"/>
  </label>
  <br />
  <label>Hauteur des lignes : 
    <input type="number" name="pagetopmargin" id="pagetopmargin" placeholder="Hauteur"/>
  </label>
  Id utilisateur : {{ user.id }}
</p>

