<div id="structure">
	<div id="listPageStructure"></div>
	<div id="accordion">
		<h3>Grille modulaire</h3>
		<div id="g-setup">
			<ul>
				<li class="head">Verticale</li>
				<li><span>Couleur</span><input id="g-setup-gColor" /></li>
				<li><span>Opacité</span><input id="g-setup-gOpacity" type="number"/></li>
				<li><span>Largeur</span><input id="g-setup-gWidth" type="number"/></li>
				<li><span>Colonnes</span>
				<select id="g-setup-gColumns">
				</select>
				</li>
			</ul>
			<ul>
				<li class="head">Horizontal</li>
				<li><span>Couleur</span><input id="g-setup-pColor" /></li>
				<li><span>Opacité</span><input id="g-setup-pOpacity" type="number"/></li>
				<li><span>Hauteur</span><input id="g-setup-pHeight" type="number"/></li>
				<li><span>Offset</span><input id="g-setup-pOffset" type="number"/></li>
			</ul>
			<ul id="g-setup-misc">
				<li><input id="g-setup-gEnabled" type="checkbox" /><span>Activer verticales</span></li>
				<li><input id="g-setup-pEnabled" type="checkbox" /><span>Activer horizontales</span></li>
				<li><input id="g-setup-invert" type="checkbox" /><span>Inverser verticale</span></li>
				<li><input id="g-setup-center" type="checkbox" /><span>Centrer la grille</span></li>
			</ul>
		</div>
	</div>


	<br /><input id="snap_grid" type="checkbox" name="snap_grid" value="Milk"> Magnétisme de la grille<br />

	<div id='blocs_structure'>
		<div id='bloc_structure' class='sortable'>
			<div id="bloc_content">
			</div>
		</div>
		<br style="clear: both;" />
		<div id='bloc_structure_menu' class='sortable'>
			<div id="bloc_content">
				<ul id="menu">
					<li id="0000000000001"><a href="index.html">Accueil</a></li>
				</ul>
			</div>
		</div>
	</div>

	<br style="clear: both;" />

	<br style="clear: both;" />

	<div id="trash">
		<img src="{{ asset('bundles/editor/images/poubelle.jpg') }}" alt="CreativeFolio" width="128" height="128" />
	</div>
</div>