html, body, form, fieldset {
    margin: 0;
    padding: 0;
}

ol, ul {
    margin: 0;
}

body {
    color: #000;
    font: normal 90% Tahoma, Verdana, Helvetica, Sans-Serif;
}

#page {    
    width:1024px;    
    margin: 0 auto;
}

a {
    color: #08C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*
#menu {
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #000;
    float: right;
    margin-top: 100px;
    width: 800px;
}

#menu li {    
    display: inline;
    padding: 0;
}

#menu a {
    background: #000;
    color: #FFF;
    font-size: 130%;
    font-variant: small-caps;
    text-decoration: none;
    padding:0 5px;
}

#menu a:hover {
    background: #666;
}

#header {
    margin-top: 5px;
}

#choisir_langue {
    float: right;
    margin-top: -25px;
}

#connexion {
    float:right;
    margin-top:-130px;
}

#footer {
    border-top: 1px solid #CCC;
    text-align: center;
    color: #999;
    font-size: 85%;
}

table, td, th, p {
    font-size: 100%;
}

td, th {
    padding:3px 5px;
}

h1 {
    font-size: 150%;
}

form div div label {
    float: left;
    width: 100px;
    text-align: right;    
    cursor: pointer;
}

form div div div label {
    float: none;
    text-align: left;
    margin: 0;
}

form ul {
    list-style: none;
}
form li {
    color:#FF0000;
}

#form_recherche div div label {
    width: auto;
}

.loading {
    background:url(../images/loading.gif) no-repeat top left;
    width: 36px;
    height: 36px;
}

.message {
    color:#090;
}*/

body{
    background-image: url("../images/bg.gif");
}

#header{
    background-image: url('../images/head.gif');
    height: 409px;
    width: 1024px;
    background-repeat: no-repeat;
}

#head_shadow{
    background-image: url("../images/head_shadow.png");
    background-repeat: no-repeat;
    height: 45px;
    width: 1024px;
}

#content {
    background-color: #FFF;
    border-radius: 15px;
    padding: 15px;
}

#footer{
    text-align: center;
}

ul#menu > li {
    height: 84px;
    width: 176px;
    display: inline-block;
    background-repeat: no-repeat;
    top: 280px;
    left: 220px;
    position:relative;
}

ul#menu > li > a{
    height: 100%;
    width: 100%;
    display: block;
}

ul#menu > li.home{
    background-image: url("../images/bt_bjr.png");
}

ul#menu > li.about{
    background-image: url("../images/bt_about.png");
}

ul#menu > li.create{
    background-image: url("../images/bt_create.png");
}

ul#menu > li.contact{
    background-image: url("../images/bt_contact.png");
}